swiss-map-vector500_2056.gpkg/SMV500.gpkg
script.py
swiss-map-vector500_2056.gpkg/Fonts/DKM_Symbole-Medium_v4-0.otf
swiss-map-vector500_2056.gpkg/Fonts/LiberationSansNarrow-Bold.ttf
swiss-map-vector500_2056.gpkg/Fonts/LiberationSansNarrow-BoldItalic.ttf
swiss-map-vector500_2056.gpkg/Fonts/LiberationSansNarrow-Italic.ttf
swiss-map-vector500_2056.gpkg/Fonts/LiberationSansNarrow-Regular.ttf
swiss-map-vector500_2056.gpkg/SMV500.gpkg.aux.xml
